.navWrapper {
    font-size: 16px;
    display: flex;
    padding: 24px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    min-height: 80px;
    border-bottom: 5px solid #FAFAFA;
}
.navTitle {
    font-size: 24px;
    font-weight: 800;
}
.navDarkMode {
    background-color: #2B3844;
    color: white;
    border-bottom: 5px solid #2B3844;
}
.themeIcon {
    display: inline-block;
    padding-right: 5px;
}
.modeSelector {
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .navWrapper {
        padding-left: 60px;
        padding-right: 60px;        
    }
    .navTitle {
        font-size: 20px;
        font-weight: 600;
    }
  }

  @media screen and (max-width: 576px) {
    .navTitle {
        font-size: 16px;
        font-weight: 300;
    }
    .navWrapper {
        padding-top: 32px;
        padding-left: 1rem;
        padding-right: 1rem;        
    }
    .modeSelector {
        font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .navTitle {
        font-size: 14px;
        font-weight: 300;
    }
    .navWrapper {
        padding-left: 0.8rem;
        padding-right: 0.8rem;        
    }
  }